@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.MAA_Movie-wrapper {
  min-height: 100vh;
  display: flex;
}

.MAA_Movie-wrapper .MAA_Movie-sidebar {
  
  flex: 0.15;
  background-color: #232d32;
  color: #fff;
}

.MAA_Movie-wrapper .MAA_Movie-sidebar h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
  margin-bottom: 20px;
  cursor: default;
}

.MAA_Movie-wrapper .MAA_Movie-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.MAA_Movie-wrapper .MAA_Movie-sidebar ul li {
  font-weight: bold;
  padding: 10px 40px;
  cursor: pointer;
}

.MAA_Movie-wrapper .MAA_Movie-sidebar ul li {
  font-weight: bold;
  padding: 10px 40px;
  cursor: pointer;
}
.MAA_Movie-wrapper .MAA_Movie-sidebar ul .curentTab {
  color: #0CD0FC;
}

.MAA_Movie-wrapper .MAA_Movie-content {
  flex: 0.85;
  background-color: #161d20;
  color: #fff;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-header {
  color: #fff;
  height: 50px;
  margin-bottom: 20px;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-items {
  display: flex;
  position: relative;
  color: #fff;
  width: 90%;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-item {
  transition: transform 0.7s ease;
  width: 150px;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-item img:hover {
  transform: scale(1.2);
  transition: transform 1s ease;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-items .MAA_Movie-item img {
  max-width: 150px;
  cursor: pointer;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-arrow {
  cursor: pointer;
}

h2 {
  font-size: 20px;
  margin: 0;
  padding: 10px 20px;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-items-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  justify-items: center;
  text-align: center;

}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-item-list {
  transition: transform 1s ease;
  max-width: 150px;
  height: auto;

}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-items-list .MAA_Movie-item-list img {
  max-width: 150px;
  cursor: pointer;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-item-list img:hover {
  transform: scale(1.2);
  transition: transform 1s ease;
}

.MuiPaginationItem-root {
  color: #fff !important;
  
}

.MuiPagination-root {
  padding-bottom: 20px;
}

.MuiPaginationItem-outlined {
  border-color: #fff !important;
}

.MuiPaginationItem-outlinedPrimary.Mui-selected {
  border-color: #0CD0FC !important;
}

.MuiCircularProgress-colorPrimary {
  position: relative;
  width: 100px !important;
  height: 100px !important;
  top: 0px;
  left: 50%
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item {
    position: relative;
    background-color: #161d20;
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    top: 0px;
    overflow: hidden;
}

.MAA_Movie-fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-header{
  position: relative;
  z-index: 1;
  top: 20px;
  left: 50px;
  cursor: pointer;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content { 
  position: relative;
  display: flex;
  width: 600px;
  margin: 50px;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 50px;
  background: rgba(255,255,255, 0.1);
  border-radius: 20px;
  cursor: default;

}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content p{
  font-size: 14px;
 }

 .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content .MAA_Movie-current-item-data span {
   font-size: 16px;
 }

 .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content .MAA_Movie-current-item-data span:first-child {
   font-weight: 600;
   color: #0CD0FC;
 }

 .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content .MAA_Movie-current-item-genres {
   text-align: end;
 }
 .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content .MAA_Movie-current-item-genres span {
   border: 1px solid #0CD0FC;
   margin-left: 10px;
   padding: 5px 10px;
   border-radius: 10px;
   cursor: default;
 }

 .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content a {
    text-decoration: none;
    color: #fff;
    background-color: #0CD0FC;
    padding: 5px 10px;
    border-radius: 5px;
 }

 .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content a:hover {
  opacity: 0.9;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content .MAA_Movie-current-item-add-mylist {
  position: absolute;
  top: 20px;
  right: 20px;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content .MAA_Movie-current-item-add-mylist button {
  padding: 5px 10px;
  background-color: #161d20;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content .MAA_Movie-current-item-add-mylist button:hover {
  background-color: #232d32;
}

.MAA_Movie-header {
  width: 50%;
  margin: 0 auto;
}

.MAA_Movie-header form {
  display: flex;
  padding: 20px;
}

.MAA_Movie-header form input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.MAA_Movie-header form button {
  padding: 5px;
  color: #0CD0FC;
  background-color: transparent;
  border: 1px solid #0CD0FC;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.MAA_Movie-header form button:hover {
  text-decoration: underline;
}

.MAA_Movie-my-list-title {
  margin-top: 20px;
  padding: 20px;
}
/* Fade in animation */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media screen and (max-width: 1024px) {
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-items-list {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .MAA_Movie-sidebar h1 {
    font-size: 24px;
    margin-bottom: 0 !important;
    padding: 0;
  }

  .MAA_Movie-sidebar ul li {
    font-size: 14px;
  }

}

@media screen and (max-width: 800px) {
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-items-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content {
    width: 400px;
    padding: 20px;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content h1 {
    font-size: 22px;
    margin: 0;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content p {
    font-size: 12px;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-data span {
    font-size: 12px !important;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content .MAA_Movie-current-item-genres {
    font-size: 12px;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content a {
    padding: 4px 8px;
  }

  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-homepage{
    padding: 20px 0px 10px 0;
  }

  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item {
    width: auto;
  }
}

@media screen and (max-width: 650px) {
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-items-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .MAA_Movie-sidebar h1 {
    font-size: 20px;
    margin-bottom: 0 !important;
    padding: 0;
  }
  .MAA_Movie-sidebar ul li {
    font-size: 12px;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content {
    width: 300px;
    padding: 20px;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-homepage{
    padding: 20px 0px 10px 0;
  }
}

@media screen and (max-width: 500px) {
  .MAA_Movie-wrapper {
    display: block;
  }
  .MAA_Movie-sidebar {
    padding-bottom: 10px;
  }
  .MAA_Movie-wrapper .MAA_Movie-content-my-list {
    height: 100vh;
  }
  .MAA_Movie-sidebar h1 {
    font-size: 22px;
    margin-bottom: 0 !important;
    padding: 0;
  }
  .MAA_Movie-sidebar ul {
    display: flex;
    justify-content: space-around;
  }
  .MAA_Movie-sidebar ul li {
    font-size: 10px;
    padding: 0 !important;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-header {
    width: 100%;
  }
  .MAA_Movie-my-list-title {
    margin: 0;
  }

  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content {
    margin: 30px 50px 0px 50px; 
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item {
    position: relative;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content h1 {
    font-size: 18px;
    margin: 0;
    margin-top: 30px;
  }
}

@media screen and (max-width: 385px) {

  
  .MAA_Movie-wrapper .MAA_Movie-content h2{
    font-size: 16px;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-items {
    width: 150px;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content {
    width: 200px;
    padding: 20px;
  }

  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content h1 {
    font-size: 18px;
    margin: 0;
    margin-top: 30px;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content p {
    font-size: 10px;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-data span {
    font-size: 10px !important;
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content .MAA_Movie-current-item-genres {
    font-size: 10px;
    margin-top: 10px;
    
  }
  .MAA_Movie-wrapper .MAA_Movie-content .MAA_Movie-current-item-content a {
    padding: 4px 8px;
    font-size: 8px;
  }
}